<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Dojo Survey</h1>
   <form action="/registrationForm" method="post">
    <div>
        <p>Name:</p>
        <input type="text" name="name">
    </div>
    <div>
        <p>Dojo location:</p>
        <select name="location">
            <option value="Tirana">Tirana</option>
            <option value="Kurvelesh">Kurvelesh</option>
            <option value="Kardhiq">Kardhiq</option>
            <option value="Bubulime">Bubulime</option>
        </select>

    </div>
    <div>
        <p>Favorite language</p>
        <input type="text" name="language">
    </div>
    <div>
        <p>Comments:</p>
        <textarea name="comment" id="" cols="20" rows="5"></textarea>
    </div>
    <input type="submit" value="Submit">

   </form>
</body>

</html>